<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
			{% block header_title %}UserEx • TodoMVC{% endblock %}
		</title>
		{% block css %}
    		<link rel="stylesheet" href="/css/base.css">
    		<link rel="stylesheet" href="/css/index.css">
		{% endblock %}
		
		{% block js_init -%}        
            <script src="js/requirejs/require.js"></script>
            <script type="text/javascript">
                requirejs.config({
                    baseUrl: 'js/modules'
                });
                function getUrl(route) {
					var routes = { 
						{% for routeName in exposedRoutes | keys %}
							'{{ routeName }}': '{{ exposedRoutes[routeName] }}',	
						{% endfor %}
					};

					return routes[route];
                }
            </script>
        {% endblock %}
	</head>
	<body>
		<section class="todoapp">
    		<header class="header">
        		{% block header %}
        			<h1>todos</h1>
        		{% endblock %}
        	</header>	
    		{% block content %}		{% endblock %}
		</section>
		<footer class="info">
			{% block footer %}
				{% if user is not null %}
					<b> <a href="{{ path('logout') }}" style="font-size: 14px;">Sign out</a> </b>
				{% endif %}
    			<p>Double-click to edit a todo</p>
    			<!-- Change this out with your name and url ↓ -->
    			<p>Created by <a href="#">Mukamatinov Ildar aka UserEx</a></p>
    			<p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
			{% endblock %}
		</footer>
		
		{% block js %}		
    	{% endblock %}
	</body>
</html>
