{% extends 'base.html.twig' %}

{% block css %}
	{{ parent() }}
	<link rel="stylesheet" href="css/additional_style.css">
{% endblock %}

{% block content %}
	<form action="{{ path('sign_in') }}" class="simple" method="post">
		<input type="text" name="username" class="simple" placeholder="Your name">
		<input type="password" name="password" class="simple" placeholder="Password">

		<button type="submit" class="simple-btn">Sign in</button>
	</form>
	<ul class="valid-msg">
		{% for msg in messages %}
			<li>
				{{ msg }}
			</li>
		{% endfor %}
	</ul>
	<footer class="footer">	
		<ul class="filters">
			<li>
				<a href="{{ path('registration') }}">sign up</a>
			</li>
		</ul>
				
	</footer>		
{% endblock %}

{% block js %}
	<script type="text/javascript">
    	require(['jquery'], function($){
			
    	});
    </script>
{% endblock %}